<body>
<form [formGroup]="qriskForm">
<div class="container">
   <div class="row">
      <div class="col-sm-6">
         
         
         

         <p-fieldset legend="About You">
            <div class="row">
               <div class="col-sm-12">
                  <label class="form-label">Name</label>
                  <input id="name" name="name" type="text" pInputText [(ngModel)]="clinicalInformation.name" placeholder="Name" formControlName="name" />
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="form-label">Age: {{clinicalInformation.age}}</label>
                  <p-slider [(ngModel)]="clinicalInformation.age" [min]="25" [max]="84" [step]="1" formControlName="age"  ></p-slider>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="form-label">Ethnicity:</label>
                  <p-dropdown [options]="ethnicities" [(ngModel)]="clinicalInformation.ethnicityRisk" [filter]="true" formControlName="ethnicityRisk"></p-dropdown>

               </div>
            </div>
            <div class="row">
               <div class="col-6">
                  <label class="form-label">Height (cm)</label>
                  <input  type="text" style="width: 5vw;" pInputText [(ngModel)]="height"  formControlName="height" />
               </div>
                <div class="col-6">
                  <label class="form-label">Weight (kg)</label>
                  <input type="text" style="width: 5vw;" pInputText [(ngModel)]="weight" formControlName="weight" />
               </div>
            </div>
         </p-fieldset>

         <p-fieldset legend="Clinical Information" styleClass="margin">
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Atrial fibrillation:</label>
                  <p-radioButton  formControlName="atrialFibrillation" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.atrialFibrillation"></p-radioButton>
                  <p-radioButton  formControlName="atrialFibrillation" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.atrialFibrillation"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Atypical Antipsychotics:</label>
                  <p-radioButton  formControlName="atypicalAntipsychotics" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.atypicalAntipsychotics"></p-radioButton>
                  <p-radioButton  formControlName="atypicalAntipsychotics" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.atypicalAntipsychotics"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Cortico Steroids:</label>
                  <p-radioButton  formControlName="corticoSteroids" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.corticoSteroids"></p-radioButton>
                  <p-radioButton  formControlName="corticoSteroids" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.corticoSteroids"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Rheumatoid arthritis :</label>
                  <p-radioButton  formControlName="rheumatoidArthritis" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.rheumatoidArthritis"></p-radioButton>
                  <p-radioButton  formControlName="rheumatoidArthritis" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.rheumatoidArthritis"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Chronic kidney disease :</label>
                  <p-radioButton  formControlName="chronicKidneyDisease" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.chronicKidneyDisease"></p-radioButton>
                  <p-radioButton  formControlName="chronicKidneyDisease" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.chronicKidneyDisease"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Severe mental illness :</label>
                  <p-radioButton  formControlName="severeMentalIllness" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.severeMentalIllness"></p-radioButton>
                  <p-radioButton  formControlName="severeMentalIllness" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.severeMentalIllness"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Systemic lupus erythematosus :</label>
                  <p-radioButton  formControlName="systemicLupusErythematosus" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.systemicLupusErythematosus"></p-radioButton>
                  <p-radioButton  formControlName="systemicLupusErythematosus" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.systemicLupusErythematosus"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">On blood pressure treatment:</label>
                  <p-radioButton  formControlName="Treatedhyp" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.Treatedhyp"></p-radioButton>
                  <p-radioButton  formControlName="Treatedhyp" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.Treatedhyp"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Diabetes type 1 status:</label>
                  <p-radioButton  formControlName="type1Diabetes" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.type1Diabetes"></p-radioButton>
                  <p-radioButton  formControlName="type1Diabetes" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.type1Diabetes"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Diabetes type 2 status:</label>
                  <p-radioButton  formControlName="type2Diabetes" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.type2Diabetes"></p-radioButton>
                  <p-radioButton  formControlName="type2Diabetes" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.type2Diabetes"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Angina or heart attack in a 1st degree relative < 60 :</label>
                  <p-radioButton  formControlName="heartAttackInFirstDegreeRelative" styleClass="radio-button"  value="Yes" label="Yes" [(ngModel)]="clinicalInformation.heartAttackInFirstDegreeRelative"></p-radioButton>
                  <p-radioButton  formControlName="heartAttackInFirstDegreeRelative" styleClass="radio-button"  value="No" label="No" [(ngModel)]="clinicalInformation.heartAttackInFirstDegreeRelative"></p-radioButton>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Cholesterol/HDL ratio</label>
                  <input id="name" name="name" type="text" pInputText [(ngModel)]="clinicalInformation.cholesterolRatio" placeholder="Name" formControlName="cholesterolRatio" />
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Systolic blood pressure (mmHg)</label>
                  <input id="name" name="name" type="text" pInputText [(ngModel)]="clinicalInformation.systolicBloodPressure" placeholder="Name" formControlName="systolicBloodPressure" />
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Standard deviation of at least two most recent systolic blood pressure readings (mmHg)</label>
                  <input id="name" name="name" type="text" pInputText [(ngModel)]="clinicalInformation.stdSystolicBloodPressure" placeholder="Name" formControlName="stdSystolicBloodPressure" />
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="form-label">Ethnicity:</label>
                  <p-dropdown [options]="smokingStatusus" [(ngModel)]="clinicalInformation.smokeStatus" [filter]="true" formControlName="smokeStatus"></p-dropdown>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="form-label">number of years for which the non-survival risk is calculated: {{clinicalInformation.yearsNonSurvivalRiskCalculated}}</label>
                  <p-slider [(ngModel)]="clinicalInformation.yearsNonSurvivalRiskCalculated" [min]="1" [max]="100" [step]="1" formControlName="yearsNonSurvivalRiskCalculated"  ></p-slider>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <label class="ci-label">Townsend score:   </label>
                  <input id="name" name="name" type="text" pInputText [(ngModel)]="clinicalInformation.townSendScore" placeholder="Name" formControlName="townSendScore" />
               </div>
            </div>
         </p-fieldset>
      </div>
   
      <div class="col-sm-6">
         
      </div>
   </div>

</div>
</form>
</body> 



<router-outlet></router-outlet>
